.navbar {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-basis: auto;
}

.background {
  display: flex;
  position: absolute;
  z-index: -1;
  height: 3550px;
}
.jumbotron {
  padding: 50px;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-bottom: 400px;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: white;
  font-size: 50px;
  border-bottom: 1px solid white;
}

h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 100px;
  text-align: justify;
  color: white;
}

h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-align: center;
  font-size: 50px;
  border-bottom: 1px solid white;
}
h5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-align: center;
  font-size: 50px;
  border-bottom: 1px solid white;
  padding-bottom: 100px;
}

#portofolio {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
  padding-bottom: 250px;
  padding-top: 100px;
}

#contact {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

footer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(31, 29, 29);
  color: white;
}
